.dashboard-container {
  .scrollDiv {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /*  */
  }
  .dashboard-main {
    width: 70%;
    align-self: center;
    padding: 1rem;
  }
  .profile-list {
    display: flex;
    width: 32%;
    margin-top: 1rem;
    flex-direction: column;
    img {
      width: 100%;
    }
  }
  // margin: 0.5rem;
  .notifications-wrapper {
    position: relative;
    margin-right: 1rem;
    color: #000;
    display: flex;
    align-items: center;
    .notifications-popup-backdrop {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
    .notifications-popup {
      position: absolute;
      top: 1rem;
      width: 20rem;
      min-height: 5rem;
      max-height: 28rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      z-index: 2;
      // box-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      overflow-y: auto;
      border-radius: 12px;
      .notifications-text1 {
        padding: 1rem;
        font-weight: 500;
        button {
          margin-top: 0.5rem;
          background-color: rgb(115, 75, 255);
          color: #fff;
          padding: 0.5rem 1rem;
          border-radius: 16px;
          border: 0;
          cursor: pointer;
          font-weight: 700;
        }
      }
    }
  }
  .twitter-claim-input-row {
    display: flex;
    margin-top: 1.75rem;
    font-size: 1.5rem;
    input {
      padding: 0.5rem;
      border-radius: 4px;
      border: 0;
      width: 15rem;
      margin-right: 0.5rem;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-container {
    .dashboard-main {
      width: 100%;
      align-self: center;
    }
  }
}
