.m_14 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.ub_14 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.m_16 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.ub_16 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
}
.m_19 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1.188rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.ub_19 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 1.188rem;
    line-height: 1.5rem;
}
.m_23 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1.438rem;
    line-height: 2rem;
}
.ub_23 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 1.438rem;
    line-height: 2rem;
}
.m_28 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 1.5rem;
}
.ub_28 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.25rem;
}
.m_36 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
}
.ub_36 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.5rem;
}
.m_44 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 2.75rem;
    line-height: 1.5rem;
}
.ub_44 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 2.75rem;
    line-height: 1.5rem;
}
.m_53 {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 3.313rem;
    line-height: 3.5rem;
}
.ub_53 {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 3.313rem;
    line-height: 3.5rem;
}
