.home-screen-container {
  .home-screen-content-wrapper {
    .community-list-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2rem 0;
      .community-list-card {
        width: 31%;
        margin: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 12px;
        overflow: hidden;
        height: fit-content;
        .community-list-card-image {
          width: 100%;
          background-color: #f2f2f2;
          img {
            width: 100%;
          }
        }
        .community-list-card-content {
          padding: 1rem;
          width: 100%;
          font-size: 1rem;
          .community-list-card-title {
            font-weight: bold;
            font-size: 1.5rem;
          }
          .community-list-card-description {
            margin-top: 1rem;
            color: rgb(75, 85, 99);
            line-height: 1.5rem;
          }
          .community-list-card-button {
            display: flex;
            align-items: center;
            color: #fff;
            margin-top: 1rem;
            background-color: rgb(99, 102, 241);
            padding: 0.5rem 1rem;
            width: fit-content;
            border-radius: 0.25rem;
            img {
              margin-right: 0.25rem;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .nothing-left-to-claim {
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      color: #666;
    }
  }
}
